@import 'styles/variables.scss';
@import 'styles/breakpoints.scss';

.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50px;
	min-width: 850px;
	height: 160px;
	padding: 20px;
	border-radius: 30px;
	background-color: $color-gray;
	&:hover {
		transition: 0.5s;
		background: $color-green;
		cursor: pointer;
		color: $color-white;
	}
	.companyDetails {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
	}
	.positionDetails {
		margin-top: 10px;
		gap: 15px;
	}

	.specificDetails {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

