@import 'styles/variables.scss';
@import 'styles/breakpoints.scss';

.wrapper {
	display: flex;
	justify-content: center;
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		position: relative;
		top: 120px;
		width: 900px;
		height: auto;
		.heading {
			width: 100%;
			text-align: left;
			background: $color-cream;
			padding: 15px;
			border-radius: 10px;
			color: $color-white;
		}
		.basicInformation,
		.salaryInformation {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 10px;
			background: $color-wedding;
			padding: 15px;
			border-radius: 10px;
		}

		.salaryInformation {
			.minusChar {
				position: relative;
				top: 5px;
				font-size: 20px;
			}
		}
		.description {
			display: flex;
			width: 100%;
			flex-direction: column;
			gap: 10px;
			background: $color-wedding;
			padding: 15px;
			border-radius: 10px;
			.technologiesBox,
			.requirementsListBox {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
			.inputs {
				display: flex;
				align-items: baseline;
				gap: 20px;
			}
			.descriptionInput {
				width: 800px;
			}
		}
		.buttons {
			display: flex;
			gap: 30px;
			margin: 50px 0 50px;
		}
	}
}

