@import 'styles/variables.scss';
@import 'styles/breakpoints.scss';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.logo {
		letter-spacing: 1px;
	}
	.slogan {
		font-size: 13px;
	}
}

