@import 'styles/variables.scss';
@import 'styles/breakpoints.scss';

.button {
	position: relative;
	display: flex;
	align-items: center;
	opacity: 1;
	height: fit-content;
	padding: 15px 40px;
	cursor: pointer;
	text-align: center;
	font-weight: $font-weight-bold;
	font-size: 17px;
	font-family: $font-main;
	line-height: 17px;
	border: none;
	border-radius: 10px;
	transition: 0.5s;
}

.buttonSmall {
	padding: 5px 19px;
	font-size: 14px;
}

.buttonLarge {
	padding: 10px 40px;
}

@mixin buttonStyle($background, $color, $borderColor, $hoverColor) {
	color: $color;
	background-color: $background;
	border: 1px solid $borderColor;
}

.buttonPrimary {
	@include buttonStyle($color-blue, $color-white, '', $color-white);
	&:hover {
		background-color: $color-blue-dark;
	}
}

.buttonSecondary {
	@include buttonStyle($color-white, $color-blue, $color-white, $color-white);
	&:hover {
		background-color: $color-blue;
		color: $color-white;
	}
}

.buttonTertiary {
	@include buttonStyle($color-green, $color-white, $color-white, $color-white);
	&:hover {
		background-color: $color-green-dark;
	}
}

.buttonQuaternary {
	@include buttonStyle($color-blue, $color-white, '', '');
	border: none;
	&:hover,
	&:active {
		border: none;
	}
}

