// color
$color-white: #fff;
$color-black: #000;
$color-blue: #387aea;
$color-green: #14ae69;
$color-green-light: #1d8f5b;
$color-light-gray: #bebebe;
//font-spec
$font-main: 'Montserrat';
$font-style: normal;
$font-weight-light: 300;
$font-weight-main: 400;
$font-weight-bold: 600;
$font-weight-super-bold: 800;

